@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');


* {
   margin: 0;
   padding: 0;
}

header {
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 0 auto;
   position: sticky;
   top: 0;
   background-color: #fff;

   .box-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      img {
         width: 100px;
         padding: 20px;
      }

      span {
         color: #717171;
         font-family: 'Fredoka, sans serif';
         font-size: 26px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
      }

      a {
         text-decoration: none;
      }
   }

   nav {
      width: 450px;
      height: auto;
      margin: 50px auto;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      

      ul {
         display: flex;
         justify-content: center;
         align-items: center;
         list-style: none;
         gap: 50px;

         li a {
            color: #717171;
            font-family: 'Source Sans Pro';
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.52px;
            text-decoration: none;
         }
      }   
   }
}

@media only screen and (max-width: 420px) {
   nav {
      ul {
         li a {
            font-size: 20px !important;
         }
      }
   }
}